---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Hero from "../components/Hero/Hero.astro";
import Newest from "../components/Newest/Newest.astro";
---

<Layout title="Welcome to Astro.">
  <Hero />
  <div class="px-40">
    <Newest />
  </div>
</Layout>
