---
import TituloWeb from "../ui/Titulos";
import { Button } from "../ui/button";
import Card from "../ui/Card";
---

<div class="my-10 flex flex-col gap-4">
  <div class="my-4 flex justify-between items-center">
    <TituloWeb color="text-black">Nuevas Propiedades</TituloWeb>
    <Button variant="default" size={"lg"}>Más</Button>
  </div>
  <div class="flex justify-between">
    <Card />
    <Card />
    <Card />
  </div>
</div>
