---
import NavLinks from "./UlLinks.jsx";
---

<div class="flex items-center border-b justify-between border-black py-2 px-40">
  <div>
    <a href="/">
      <img
        src="/inmobiliaria.png"
        alt="inmobiliaria"
        width="100px"
        height="100px"
      />
    </a>
  </div>
  <div>
    <NavLinks />
  </div>
</div>
